[submodule "plugins/html5validation"]
	path = plugins/html5validation
	url = https://github.com/tws-inc/ckeditor-html5-form-validation.git
[submodule "plugins/widgetbootstrap"]
	path = plugins/widgetbootstrap
	url = https://github.com/albatrossdigital/widgetbootstrap.git
