[submodule "plugins/html5validation"]
	path = plugins/html5validation
	url = ../ckeditor-html5-form-validation.git
[submodule "plugins/widgetbootstrap"]
	path = plugins/widgetbootstrap
	url = ../../albatrossdigital/widgetbootstrap.git
